{% extends "bootstrap/base.html" %}

{% from "bootstrap/utils.html" import flashed_messages %}

{% block title %}Challenges{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
{% if chrequests == 'incoming'%}
<h1 class="text-center">Incoming Challenges</h1>
{% else %}
<h1 class="text-center">Challenge Requests sent</h1>
{% endif %}


{{flashed_messages(container=True)}}
<div class="container">
    <a href="{{url_for('duel_list')}}" class="btn btn-info btn-md" role="button">View running Duels</a>
    <hr>
    <div class="btn-group">
        <a href="{{url_for('challenge_list')}}" class="btn btn-primary btn-md {% if chrequests == 'incoming' %}active{%endif %}"
            role="button">Incoming Challenges</a>
        <a href="{{url_for('challenge_list', requests='sent')}}" class="btn btn-primary btn-md {% if chrequests == 'sent' %}active{%endif %}"
            role="button">Your Challenge Requests</a>
    </div>
</div>

<div class="container">
    <br>
    {{table}}
</div>

{% endblock %}