{% extends "bootstrap/base.html" %}

{%from "bootstrap/pagination.html" import render_pagination %}
{% from "bootstrap/utils.html" import flashed_messages %}
{%from "bootstrap/wtf.html" import quick_form %}

{% block title %}Community{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<h1 class="text-center">Community Navigation</h1>

{{flashed_messages(container=True)}}
<div class="container">
    <div class="btn-group">
        <a href="{{url_for('user_list')}}" class="btn btn-primary btn-md" role="button">Only followed users</a>
        <a href="{{url_for('user_list', show='all')}}" class="btn btn-primary btn-md" role="button">All users</a>
    </div>
</div>

<div class="container">
    <br>
    {{quick_form(search_form)}}
    <br>
    {% if no_table %}
    <h3>You are currently not following other users.</h3>
    <a href="{{url_for('user_list', show='all')}}" class="btn btn-primary btn-lg" role="button">Show all users!</a>
    {% else %}
    {{render_pagination(**pagination_kwargs)}}
    <br>
    {{table}}
    <br>
    {{render_pagination(**pagination_kwargs)}}
    {% endif %}
</div>

{% endblock %}