{% extends "bootstrap/base.html" %}

{% from "bootstrap/utils.html" import flashed_messages %}

{% block title %}Dueling {{opponent}}{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<h1 class="text-center">versus {{opponent}}: {{cardbox_name}}</h1>

{{flashed_messages(container=True)}}

<div class="container">
    <h2>Question No. {{card_number}}/{{cardbox_size}}:</h2>
    <h3>&nbsp;&nbsp;{{num_correct_answers}}/{{number_answers}} correct answers</h3>
    <br>

    <h3 class="text-info">Q: {{card['question']}}</h3>
    <br>
    <div>
        <form action="" method="post">
            <button name="choice" value="0" class="btn btn-default btn-block btn-lg">a)&nbsp;{{card['answers'][0]}}</button>
        </form>
        <br>
        <form action="" method="post">
            <button name="choice" value="1" class="btn btn-default btn-block btn-lg">b)&nbsp;{{card['answers'][1]}}</button>
        </form>
        <br>
        <form action="" method="post">
            <button name="choice" value="2" class="btn btn-default btn-block btn-lg">c)&nbsp;{{card['answers'][2]}}</button>
        </form>
    </div>
</div>
{% endblock %}