{% extends "bootstrap/base.html" %}

{%from "bootstrap/pagination.html" import render_pagination %}
{% from "bootstrap/utils.html" import flashed_messages %}
{%from "bootstrap/wtf.html" import quick_form %}

{% block title %}The Huge List{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<h1 class="text-center">Explore CardBoxes!</h1>

{{flashed_messages(container=True)}}

<div class="container">
    <br>
    {{quick_form(filter_form)}}
    <br>
    {{render_pagination(**pagination_kwargs)}}
    <br>
    {{table}}
    <br>
    {{render_pagination(**pagination_kwargs)}}
</div>

{% endblock %}