<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            {% if current_user.is_authenticated %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% endif %}
            <a href="{{url_for('index')}}" class="navbar-brand">
                <div class="navbar-brand-name">
                    <img style="max-width:100px; margin-top: -7px;" src="{{url_for('.static', filename='navbar_logo.png')}}">
                    FlashBox
                </div>
            </a>
            {% if current_user.is_authenticated %}
            <a href="{{url_for('challenge_list')}}">
                <div class="navbar-text"><span class="badge" style="margin-top: -2px;font-size:17px; color: rgb(157,157,157); background-color: rgb(56, 56, 56);">⬇{{session['counter_ch_in']}}/⬆{{session['counter_ch_out']}}/⚔{{session['counter_duels']}}</span></div>
            </a>
            {% endif %}
        </div>
        {% if current_user.is_authenticated %}
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <!-- <li class="{% if active=='start' %}active{%endif %}"><a href="{{url_for('index')}}">Start</a></li> -->
                <li class="{% if active=='explore' %}active{%endif %}"><a href="{{url_for('huge_list')}}">Explore</a></li>
                <li class="dropdown {% if active=='community' %}active{%endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{url_for('score_list')}}">Community <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('score_list')}}">Scoreboard</a></li>
                        <li><a href="{{url_for('user_list')}}">Navigation</a></li>
                    </ul>
                </li>
                <li class="dropdown {% if active=='versus' %}active{%endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{url_for('challenge_list')}}">Versus <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('challenge_list')}}">Challenges</a></li>
                        <li><a href="{{url_for('duel_list')}}">Duels</a></li>
                        <li><a href="{{url_for('duel_list', location='archive')}}">Archive</a></li>
                    </ul>
                </li>
                <li class="{% if active=='profile' %}active{%endif %}"><a href="{{url_for('show_user', _id=current_user._id)}}">
                        <span class="glyphicon glyphicon-user"></span> Profile</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>