{% extends "bootstrap/base.html" %}

{%from "bootstrap/pagination.html" import render_pagination %}
{% from "bootstrap/utils.html" import flashed_messages %}

{% block title %}Scoreboard{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<h1 class="text-center">User Scores</h1>

{{flashed_messages(container=True)}}

<div class="container">
    <br>
    <h3 style="display:inline;">Your placement: </h3><h2 style="display:inline;">#{{your_score['rank']}}</h2><br>
    <h3 style="display:inline;">Your score: </h3><h2 style="display:inline;">{{your_score['score']}}</h2>    
    <h4>Always improve yourself!</h4>
    <br>
    {{render_pagination(**pagination_kwargs)}}
    <br>
    {{table}}
    <br>
    {{render_pagination(**pagination_kwargs)}}
</div>

{% endblock %}