{% extends "bootstrap/base.html" %}

{%from "bootstrap/pagination.html" import render_pagination %}
{% from "bootstrap/utils.html" import flashed_messages %}

{% block title %}TScoreboard{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<h1 class="text-center">User Scores</h1>

{{flashed_messages(container=True)}}

<div class="container">
    <br>
    <h2>Your Score! Always improve yourself!</h2>
    {{you}}
    <br>
    {{render_pagination(**pagination_kwargs)}}
    <br>
    {{table}}
    <br>
    {{render_pagination(**pagination_kwargs)}}
</div>

{% endblock %}