{% extends "bootstrap/base.html" %}

{% from "bootstrap/utils.html" import flashed_messages %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">
{% endblock %}

{% block title %}Your Profile{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- <div class="container">
    <div class="btn-group">
        <a href="{{url_for('index')}}" class="btn btn-primary btn-md" role="button">Start</a>
        <a href="{{url_for('logout')}}" class="btn btn-primary btn-md" role="button">Logout</a>
        <button type="button" class="btn btn-primary btn-md disabled">User Settings</button>
    </div>
</div> -->


<div class="container">
    <h2>{% if picture_filepath %}
        <img src="{{picture_filepath}}">
        {% else %}
        <img src="{{url_for('.static', filename='default_pic.png')}}">
        {% endif %}
        {{user._id}} <a href="{{url_for('user_settings')}}" class="btn btn-primary btn-md" role="button">Profile
            Settings</a>
    </h2>
    <h3>Your Score: {{user.score}}</h3>
    <h3>Here you can look at all your stuff.<br>
        Or you can change the stuff you show people!<br>
        Like Achievements!</h3>
</div>


{{flashed_messages(container=True)}}

<div class="container">
    <br>
    <br>
    <div class="btn-group">
        <a href="{{url_for('huge_list', foption='owner', fterm=user._id)}}" class="btn btn-success btn-lg" role="button">View
            your CardBoxes!</a>
        <button type="button" class="btn btn-primary btn-lg disabled">Upload CardBox</button>
    </div>
</div>
{% endblock %}

<!-- <div class="d-flex justify-content-between">
    <div>
        left
    </div>
    <div>
        right
    </div>
</div>
<br>
<div class="container py-3 mt-3">
    <div class="row">
        <div class="col-12">left</div>
        <div class="col-12"><span class="float-right">right</span></div>
    </div>
</div> -->