{% extends "bootstrap/base.html" %}

{% from "bootstrap/utils.html" import flashed_messages %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">
{% endblock %}

{% block title %}Your Profile{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
{{flashed_messages(container=True)}}

<div class="container">
    <h2>{% if picture_filepath %}
        <img id="profile-picture" src="{{picture_filepath}}">
        {% else %}
        <img id="profile-picture" src="{{url_for('.static', filename='default_pic.png')}}">
        {% endif %}
        {{user._id}} <a href="{{url_for('user_settings')}}" class="btn btn-primary btn-md" role="button">Profile
            Settings</a>
    </h2>
</div>

<div class="container">
    <h3>Your Score: {{score}}</h3>
    <hr>
    {% if not (showcase['info'] or showcase['cardbox'] or showcase['rank'])%}
    <h4>Create a Showcase for your profile <a href="{{url_for('user_settings')}}">here</a>!</h4>
    {% endif %}
    {% if showcase['info']%}
    <h4>About me:</h4>
    <p>{{showcase['info']}}</p>
    {% endif %}
    {% if showcase['rank']%}
    <h4>My global rank: #{{ showcase['rank'] }}</h4>
    {% endif %}
    {% if showcase['cardbox'] %}
    {% if showcase['cardbox'] == 'string'%}
    <p>You have to choose a valid CardBox to display first!</p>
    {% else %}
    <h4>My best CardBox: <a href="{{url_for('show_box', _id=showcase['cardbox']._id)}}">{{showcase['cardbox'].name}}</a></h4>
    {% endif %}    
    {% endif %}
    <br>
    <hr>
    <h4>You can upload CardBoxes from offline view!</h4>
    <hr>
    <div class="btn-group">
        <a href="{{url_for('huge_list', foption='owner', fterm=user._id)}}" class="btn btn-success btn-lg" role="button">View
            your CardBoxes!</a>
    </div>
    <br>
    <br>
</div>

{% endblock %}