{% extends "bootstrap/base.html" %}

{% from "bootstrap/utils.html" import flashed_messages %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">
{% endblock %}

{% block title %}User: {{user._id}}{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
{{flashed_messages(container=True)}}

<div class="container">
    <h2>{% if picture_filepath %}
        <img id="profile-picture" src="{{picture_filepath}}">
        {% else %}
        <img id="profile-picture" src="{{url_for('.static', filename='default_pic.png')}}">
        {% endif %}
        {{user._id}}
    </h2>
    <div class="btn-group">
        {% if following %}
        <a href="{{url_for('toggle_follow', _id=user._id)}}" class="btn btn-primary btn-md" role="button">Unfollow</a>
        {% else %}
        <a href="{{url_for('toggle_follow', _id=user._id)}}" class="btn btn-primary btn-md" role="button">Follow</a>
        {% endif %}
        <a href="{{url_for('challenge_user', _id=user._id)}}" class="btn btn-info btn-md" role="button">Challenge!</a>
    </div>
</div>

<div class="container">
    <h3>User Score: {{score}}</h3>
    <hr>
    {% if showcase['info']%}
    <h4>About me:</h4>
    <p>{{showcase['info']}}</p>
    {% endif %}
    {% if showcase['rank']%}
    <h4>My global rank: #{{ showcase['rank'] }}</h4>
    {% endif %}
    {% if showcase['cardbox'] and not showcase['cardbox'] == 'string'%}
    <h4>My best CardBox: <a href="{{url_for('show_box', _id=showcase['cardbox']._id)}}">{{showcase['cardbox'].name}}</a></h4>
    {% endif %}
    <br>
    <br>
    <a href="{{url_for('huge_list', foption='owner', fterm=user._id)}}" class="btn btn-success btn-lg" role="button">View
        this user's CardBoxes!</a>
    <br>
    <br>
</div>

{% endblock %}